<h2>Gestion des notes</h2>
<table>
  <thead>
    <tr>
      <th>N° patient</th>
      <th>Nom</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let histo of histo$ | async">
        <td>{{ histo.patId }}</td>
        <td>{{ histo.patient }}</td>
        <td>{{ histo.note }}</td>
        <td>
          <button (click)="onOpenNote(histo.id)">Visualiser</button>
        </td>
    </tr>
  </tbody>
</table>

<button (click)="onCreateNote(patId,nom)">Créer une nouvelle note</button>