<h2>Gestion des patients</h2>
<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Genre</th>
      <th>Date de naissance</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let patient of patients$ | async">
        <td>{{ patient.nom }}</td>
        <td>{{ patient.prenom }}</td>
        <td>{{ patient.genre }}</td>
        <!--<td>{{ patient.dateNaissance| date: 'shortDate' : 'fr'}}</td>-->
        <td>{{patient.dateNaissance| date: 'dd/MM/yyyy'}}</td>
        <td>
          <button (click)="onModify(patient.id)">Visualiser/Modifier</button>
        </td>
        <td>
          <button (click)="onOpenHistory(patient.id, patient.nom)">Historique</button>
        </td>
    </tr>
  </tbody>
</table>

<button (click)="onCreatePatient()">Créer un nouveau patient</button>
 