<div class="detailspatient">
    <h2 *ngIf="mode === 'create'">Créer un patient</h2>
    <h2 *ngIf="mode === 'edit'">Détails du patient</h2>
    
    <!--{{patient|json}}-->
    <!--{{note|json}}-->
    
    <form [formGroup]="patientForm" (ngSubmit)="onSave()">
        <div *ngIf="patient">
            <p>Risque de diabète: {{ note }}</p>
            <label for="id">Identifiant du patient</label>
            <input type="text" class="readonly" id="id" formControlName="id" name="id" readonly/>
        </div>
        <div>
            <label for="nom">Nom</label>
            <input type="text" id="nom" formControlName="nom" placeholder="Dupont" required />
        </div>
        <div *ngIf="patientForm.controls['nom'].invalid && patientForm.controls['nom'].touched">
            Merci de saisir un nom.
        </div>
        <div>
            <label for="prenom">Prénom</label>
            <input type="text" id="prenom" formControlName="prenom" placeholder="Michel" required />
        </div>
         <div *ngIf="patientForm.controls['prenom'].invalid && patientForm.controls['prenom'].touched">
            Merci de saisir un prénom.
        </div>
        <div *ngIf="mode === 'edit'">
            <label for="date-naissance">Date de naissance</label><!---->
            <input type="date" id="date-naissance" formControlName="dateNaissance" name="date-naissance" required />
        </div>
        <div *ngIf="mode === 'create'">
            <label for="date-naissance">Date de naissance</label>
              <input type="text" id="date-naissance" formControlName="dateNaissance" placeholder="jj/MM/yyyy" name="date-naissance" required />
        </div>
         <div *ngIf="patientForm.controls['dateNaissance'].invalid && patientForm.controls['dateNaissance'].touched">
            Format invalide. Utilisez jj/MM/yyyy.
        </div>
        <div>
            <label for="genre">Genre</label>
            <select formControlName="genre" id="genre" required>
                <option value="F">Féminin</option>
                <option value="M">Masculin</option>
            </select>
        </div>
        <div *ngIf="patientForm.controls['genre'].invalid && patientForm.controls['genre'].touched">
            Merci de sélectionner un genre.
        </div>
        <div>
            <label for="adresse">Adresse</label>
            <input type="text" id="adresse" formControlName="adresse" placeholder="123 Rue de Paris" name="adresse"/>
        </div>
        <div>
            <label for="telephone">Numéro de téléphone</label>
            <input type="text" id="telephone" formControlName="telephone" placeholder="123-123-1234" name="telephone"/>
        </div>
        <div *ngIf="patientForm.controls['telephone'].invalid && patientForm.controls['telephone'].touched">
            Merci de saisir un numéro de téléphone au format suivant: 123-123-1234
        </div>
        <div>
            <button type="submit" [disabled]="patientForm.invalid">Enregistrer ({{ patientForm.invalid ? 'invalide' : 'valide' }})</button>
        </div>
    </form>
    
    <!--<p>Formulaire soumis : {{ patientForm.value | json }}</p>-->
</div>