<p>Medilabo</p>
<nav>
    <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Accueil&ensp;</a>
    <a routerLink="liste-patients" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Patients</a>&ensp;
    <!--<a routerLink="/liste-patients" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Patients</a>-->
    <a routerLink="/liste-historiques" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Historiques</a>&ensp;
    <a routerLink="/liste-risques" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Risques</a>
</nav>