<div class="detailshisto">
    <h2 *ngIf="mode === 'create'">Créer une note</h2>
    <h2 *ngIf="mode === 'edit'">Modifier une note</h2>
    <h2 *ngIf="mode === 'view'">Détails de la note</h2>
    
    <form [formGroup]="histoForm"  (ngSubmit)="onSave()">
        <div  *ngIf="histo">
            <label for="id">Numéro de note</label>
            <input type="text" id="id" formControlName="id" name="id" />
        </div>
        <div>
            <label for="patId">Numéro du patient</label>
            <input type="text" class="readonly" id="patId" formControlName="patId" placeholder="1" name="patId" readonly />
        </div>
        <div>
            <label for="patient">Nom</label>
            <input type="text" class="readonly" id="patient" formControlName="patient" placeholder="Dupont" name="patient" readonly />
        </div>
        <div>
            <label for="note">Note</label>
            <!--<input type="text" id="note" formControlName="note" placeholder="Le patient a arrêté de fumer" name="note" required />-->
            <input type="text" id="note" formControlName="note" [class.is-invalid]="hasFieldError('note')" placeholder="Le patient a arrêté de fumer" name="note" required />
        </div>
        <div *ngIf="hasFieldError('note')">
            {{ getFieldError('note') }}
        </div>
        <!--<div *ngIf="histoForm.controls['note'].invalid && histoForm.controls['note'].touched">
            Merci de saisir la note pour le patient.
        </div>-->
        <div *ngIf="mode === 'create'">
            <button type="submit" [disabled]="histoForm.invalid">Enregistrer</button>
        </div>
        <div *ngIf="mode === 'view'">
            <button (click)="onGoBack()">Retour à la liste des notes pour ce patient</button>
        </div>
    </form>
</div>
